<ul class="breadcrumbs">
    <li><a href="#/{{i18n 'URL_tvrtka'}}/">{{i18n 'LBL_tvrtka'}}</a></li>
    <li class="current">{{i18n 'LBL_partneri'}}</li>
    <li class="separator"></li>
    <li class="menu-item"><a href="#" id="newBtn">{{i18n 'LBL_novi'}}</a></li>
    <li class="menu-item"><a href="#" id="deleteBtn">{{i18n 'LBL_obrisi'}}</a></li>
</ul>
<div class="row fullWidth">
    <div class="large-3 column input-panel">
        <form id="saveForm" onsubmit="return false;">
            <div class="row">
                <div class="large-10 column">
                    <input type="text" placeholder="{{i18n 'LBL_naziv'}}" name="naziv"/>
                </div>
            </div>
            <div class="row">
                <div class="large-10 column">
                    <input type="text" placeholder="{{i18n 'LBL_adresa'}}" name="adresa"/>
                </div>
            </div>
            <div class="row">
                <div class="large-10 column">
                    <input type="text" placeholder="{{i18n 'LBL_postbroj'}}" name="postBroj"/>
                </div>
            </div>
            <div class="row">
                <div class="large-10 column">
                    <input type="text" placeholder="{{i18n 'LBL_mjesto'}}" name="mjesto"/>
                </div>
            </div>
            <div class="row">
                <div class="large-10 column">
                    <input type="text" placeholder="{{i18n 'LBL_oib'}}" name="oib"/>
                </div>
            </div>
            <div class="row">
                <div class="large-4 column">
                    <input id="checkbox1" type="checkbox" name="kupac"><label for="checkbox1">{{i18n 'LBL_kupac'}}</label>
                </div>
                <div class="large-4 column end">
                    <input id="checkbox2" type="checkbox" name="dobavljac"><label for="checkbox2">{{i18n 'LBL_dobavljac'}}</label>
                </div>
            </div>

            <div class="row">

                <div class="large-7 column">
                    <button type="submit">{{i18n 'LBL_spremi'}}</button>
                </div>
            </div>
        </form>
        <div class="push"></div>
    </div>
    <div class="large-9 column">
        <div class="row collapse">
            <div class="small-11 column"><input type="text" placeholder="{{i18n 'LBL_search'}}" /></div>
            <div class="small-1 column">
                <a href="#" class="button postfix"><img src="/images/search_icon.png" alt="search-btn"/></a>
            </div>
        </div>

        <div class="row" id="table">

        </div>
    </div>
</div>