<ul class="breadcrumbs">
    <li class="current">{{i18n 'LBL_tvrtka'}}</li>
</ul>
<div class="row">
    <div class="large-2 column large-offset-2"><a href="#/{{i18n 'URL_tvrtka'}}/{{i18n 'URL_tankovi'}}/" class="button success">{{i18n 'LBL_tankovibacve'}}</a></div>
</div>
<div class="row">
    <div class="large-2 column large-offset-2"><a href="#/{{i18n 'URL_tvrtka'}}/{{i18n 'URL_partneri'}}/" class="button success">{{i18n 'LBL_partneri'}}</a></div>
</div>
<div class="row">
    <div class="large-2 column large-offset-2"><a href="#/{{i18n 'URL_tvrtka'}}/{{i18n 'URL_ljudi'}}/" class="button success">{{i18n 'LBL_ljudi'}}</a></div>

</div>
<div class="row">
    <div class="large-2 column large-offset-2"><a href="#/{{i18n 'URL_tvrtka'}}/{{i18n 'URL_lokacije'}}/" class="button success">{{i18n 'LBL_lokacije'}}</a></div>

</div>