<div class="large-12 column"><a href="#" data-dropdown="{{id}}" class="button dropdown small fullWidth combo-container" style="background-color: {{color}}">{{percent udio}} {{sortaNaziv}}</a><br>
    <div id="{{id}}" data-dropdown-content class="f-dropdown content large">

    </div></div>