<div  data-id="{{id}}" class="prerada-control ">
    <div class="widget-row">
        <span class="left uptitle" >Primka {{broj}}</span>
        <span class="right uptitle" >{{formatDate datum  "short"}}</span>
    </div>
    <div class="row"></div>
    <div class="widget-row">
        <span class="title">{{vrsta}}</span>
    </div>
    <div class="widget-row">
        <span class="left bold" >{{sortaNaziv}}</span>
        <span class="right bold" >{{primka.kolicina}}</span>
    </div>
     <div class="row"></div>
    <div class="widget-row">
        <span >{{polozaj}}</span>

    </div>
    <div class="widget-row">
        <span >OPG Kašner</span>

    </div>
</div>