<div  data-id="{{id}}" class="prerada-control ">
    <div class="widget-row">
        <span class="left uptitle" >{{broj}}</span>
    </div>
    <div class="row"></div>
    <div class="widget-row">
        <span class="title">{{naziv}}</span>
    </div>
    <div class="widget-row">
        <span class="left" >{{i18n 'LBL_datum'}}</span>
        <span class="right" >{{formatDate datumIzvrsenja  "short"}}</span>
    </div>
     <div class="row"></div>

</div>