<ul class="breadcrumbs">
    <li><a href="#/{{i18n 'URL_vinarija'}}/">Vinarija</a></li>
    <li class="current">Ulaz</li>
    <li class="separator"></li>
    <li class="menu-item"><a href="#" data-id="" id="noviBtn">{{i18n 'LBL_novi'}}</a></li>
    <li class="menu-item"><a href="#" id="izvjestajPartnerBtn">{{i18n 'LBL_izvjestaj_partner'}}</a></li>
    <li class="menu-item"><a href="#" id="izvjestajSortaBtn">{{i18n 'LBL_izvjestaj_sorta'}}</a></li>
</ul>
<div class="row fullWidth">
    <div class="small-4 column">
        <div class="row collapse">
            <div class="small-11 column"><input type="text" placeholder="{{LBL_search}}"/></div>
            <div class="small-1 column">
                <a href="#" class="button postfix search-btn"><img src="/images/search-icon.svg" alt="search-btn"
                                                                   width="16"/></a>
            </div>
        </div>
    </div>
    <div class="small-4 column"><a href="#" data-dropdown="drop" class="button dropdown small filter">Filter</a><br>
        <ul id="drop" data-dropdown-content class="f-dropdown">
            <li><a href="#">This is a link</a></li>
            <li><a href="#">This is another</a></li>
            <li><a href="#">Yet another</a></li>
        </ul>
    </div>
    <div class="small-1 column">
        <div id="brojPrimki" class="titledLabel"><span class="title">{{i18n 'LBL_brojPrimki'}}</span><span
                class="value"></span></div>

    </div>

</div>

<div id="prerade" class="row fullWidth"></div>