<ul class="breadcrumbs">
    <li class="current">{{i18n 'LBL_vinarija'}}</li>
</ul>
<div class="row">
    <div class="large-1 column"><h2>1.</h2></div>
    <div class="large-4 column end"><a href="#/{{i18n 'URL_vinarija'}}/{{i18n 'URL_ulaz'}}/" id="ulaz" class="button success">{{i18n 'LBL_ulaz'}}</a></div>
</div>
<div class="row">
    <div class="large-1 column"><h2>2.</h2></div>
    <div class="large-2 column"><a href="#/{{i18n 'URL_vinarija'}}/{{i18n 'URL_vino'}}/" class="button success">{{i18n 'LBL_vino'}}</a></div>
    <div class="large-2 column"><a href="#/{{i18n 'URL_vinarija'}}/{{i18n 'URL_most'}}/" class="button success">{{i18n 'LBL_most'}}</a></div>
    <div class="large-2 column"><a href="#/{{i18n 'URL_vinarija'}}/{{i18n 'URL_masulj'}}/" class="button success">{{i18n 'LBL_masulj'}}</a></div>
    <div class="large-2 column end"><a href="#/{{i18n 'URL_vinarija'}}/{{i18n 'URL_grozde'}}/" class="button success">{{i18n 'LBL_grozde'}}</a></div>
</div>
<div class="row">
    <div class="large-1 column"><h2>3.</h2></div>
    <div class="large-4 column end"><button class="success">{{i18n 'LBL_punjenje'}}</button></div>
</div>    