<div class="contain-to-grid">
    <canvas id='back-canvas' width='40' height='40'></canvas>
    <nav class="top-bar" data-topbar>
        
        <ul class="title-area">
            <li class="name"><a href="#/"><img src="/images/vinople_logo134.png" /></a></li>
            <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
            <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
        </ul>
        <section class="top-bar-section">
            <ul class="left">
                <li class="has-dropdown"><a href="#/{{i18n 'URL_vinarija'}}/" class="">
                        {{i18n 'LBL_vinarija'}}
                    </a>
                    <ul class="dropdown">
                        <li><a href="#/{{i18n 'URL_vinarija'}}/{{i18n 'URL_ulaz'}}/">{{i18n 'LBL_ulaz'}}</a></li>
                        <li><a href="#/{{i18n 'URL_vinarija'}}/{{i18n 'URL_vino'}}/">{{i18n 'LBL_vino'}}</a></li>
                        <li><a href="#/{{i18n 'URL_vinarija'}}/{{i18n 'URL_most'}}/">{{i18n 'LBL_most'}}</a></li>
                        <li><a href="#/{{i18n 'URL_vinarija'}}/{{i18n 'URL_masulj'}}/">{{i18n 'LBL_masulj'}}</a></li>
                        <li><a href="#/{{i18n 'URL_vinarija'}}/{{i18n 'URL_grozde'}}/">{{i18n 'LBL_grozde'}}</a></li>
                        <li><a href="#/{{i18n 'URL_vinarija'}}/{{i18n 'URL_punjenje'}}/">{{i18n 'LBL_punjenje'}}</a></li>
                    </ul>
                </li >
                <li class="has-dropdown"><a href="#/{{i18n 'URL_vinograd'}}/" class="">
                        {{i18n 'LBL_vinograd'}}
                    </a>
                <ul class="dropdown">
                        <li><a href="#/{{i18n 'URL_vinograd'}}/{{i18n 'URL_vinogradi'}}/">{{i18n 'LBL_vinogradi'}}</a></li>
                        <li><a href="#/{{i18n 'URL_vinograd'}}/{{i18n 'URL_sorte'}}/">{{i18n 'M_sorte'}}</a></li>
                    </ul></li>
                <li class="has-dropdown"><a href="#/{{i18n 'URL_tvrtka'}}/" class="">
                        {{i18n 'LBL_tvrtka'}}
                    </a>
                 <ul class="dropdown">
                        <li><a href="#/{{i18n 'URL_tvrtka'}}/{{i18n 'URL_tankovi'}}/">{{i18n 'LBL_tankovi'}}</a></li>
                     <li><a href="#/{{i18n 'URL_tvrtka'}}/{{i18n 'URL_partneri'}}/">{{i18n 'LBL_partneri'}}</a></li>
                        <li><a href="#/{{i18n 'URL_tvrtka'}}/{{i18n 'URL_ljudi'}}/">{{i18n 'LBL_ljudi'}}</a></li>
                        <li><a href="#/{{i18n 'URL_tvrtka'}}/{{i18n 'URL_lokacije'}}/">{{i18n 'LBL_lokacije'}}</a></li>
                    </ul></li>
                <li class="has-dropdown"><a  href="#/{{i18n 'URL_skladiste'}}/" class="">
                        {{i18n 'LBL_skladiste'}}
                    </a><ul class="dropdown">
                        <li><a href="#/{{i18n 'URL_skladiste'}}/{{i18n 'URL_enosredstva'}}/">{{i18n 'LBL_enosredstva'}}</a></li>
                        <li><a href="#/{{i18n 'URL_skladiste'}}/{{i18n 'URL_repromaterijal'}}/">{{i18n 'LBL_repromaterijal'}}</a></li>
                        <li><a href="#/{{i18n 'URL_skladiste'}}/{{i18n 'URL_gotovaroba'}}/">{{i18n 'LBL_gotovaroba'}}</a></li>
                        <li><a href="#/{{i18n 'URL_skladiste'}}/{{i18n 'URL_katalog'}}/">{{i18n 'LBL_katalog'}}</a></li>
                         <li><a href="#/{{i18n 'URL_skladiste'}}/{{i18n 'URL_izdavanje'}}/">{{i18n 'LBL_izdavanje'}}</a></li>
                         <li><a href="#/{{i18n 'URL_skladiste'}}/{{i18n 'URL_pocetno'}}/">{{i18n 'LBL_pocetno'}}</a></li>
                    </ul></li>
            </ul>
            <ul class="right">
                <li><a  href="#/{{i18n 'URL_postavke'}}/" class="">
                        <img src="/images/setting-icon.png" alt="setting icon" />
                    </a></li>
                    <li><a href="#/{{i18n 'URL_logout'}}/">{{i18n 'LBL_logout'}}</a></li>
                    <li id="server">Server <br /><span ></span></li>
            </ul>
        </section>
    </nav>
</div>