<ul class="breadcrumbs">
    <li><a href="#/{{i18n 'URL_vinograd'}}/">{{i18n 'LBL_vinograd'}}</a></li>
    <li class="current">{{i18n 'LBL_vinogradi'}}</li>
</ul>
<div class="row fullWidth">
    <div class="large-3 column input-panel">
        <form>
            <div class="row">
                <div class="large-10 column">
                    <input type="text" placeholder="{{i18n 'LBL_oznaka'}}" />
                    <input type="text" placeholder="{{i18n 'LBL_arkod'}}" />
                    <input type="text" placeholder="{{i18n 'LBL_polozaj'}}" />
                </div>
            </div>
            <div class="row collapse">
                <div class="large-7 column">
                    <input type="text" placeholder="{{i18n 'LBL_povrsina'}}" />
                </div>
                <div class="large-3 column end">
                    <input type="text" placeholder="{{i18n 'LBL_jedinica'}}"  class="postfix"/>
                </div>
            </div>
            <div class="row collapse">
                <label>{{i18n 'LBL_partner'}}</label>
                <div class="large-7 column">
                    <input type="text" placeholder="" />
                </div>
                <div class="large-2 column end">
                    <a href="#" class="button postfix">&#9776;</a>
                </div>
            </div>
            <div class="row collapse">
                <label>{{i18n 'LBL_sorta'}}</label>
                <div class="large-7 column">
                    <input type="text" placeholder="" />
                </div>
                <div class="large-2 column end">
                    <a href="#" class="button postfix">&#9776;</a>
                </div>
            </div>
            <div class="row">
                <div class="large-7 column">
                    <input type="text" placeholder="{{i18n 'LBL_komada'}}" />
                </div>
            </div>
            <div class="row">
                <div class="large-5 column">
                    <a href="#" class="button success small">{{i18n 'LBL_add_variety'}}</a>
                </div>
                <div class="large-7 column end">
                    <a href="#" class="button alert small">{{i18n 'LBL_remove_variety'}}</a>
                </div>
            </div>
            <div class="row">

                <div class="large-7 column">
                    <a href="#" class="button">{{i18n 'LBL_spremi'}}</a>
                </div>
            </div>
        </form>
        <div class="push"></div>
    </div>
    <div class="large-9 column">
        <div class="row collapse">
            <div class="small-11 column"><input type="text" placeholder="{{i18n 'LBL_search'}}" /></div>
            <div class="small-1 column">
                <a href="#" class="button postfix search-btn"><img src="/images/search-icon.svg" alt="search-btn" width="16"/></a>
            </div>
        </div>
        <div id="vinogradi" class="row widget-container ">

        </div>
    </div>

</div>