<ul class="breadcrumbs">
    <li class="current">{{i18n 'LBL_vinogradi'}}</li>
</ul>
<div class="row">
    <div class="large-2 column"><a href="#/{{i18n 'URL_vinograd'}}/{{i18n 'URL_vinogradi'}}/" class="button success">{{i18n 'M_vinogradi'}}</a></div>
    <div class="large-2 column end"><a href="#/{{i18n 'URL_vinograd'}}/{{i18n 'URL_sorte'}}/" class="button success">{{i18n 'M_sorte'}}</a></div>
</div>