<ul class="breadcrumbs">
    <li><a href="#/{{i18n 'URL_skladiste'}}/">{{i18n 'LBL_skladiste'}}</a></li>
    <li class="current">{{i18n 'LBL_katalog'}}</li>
</ul>
<div class="row fullWidth">

        <dl class="tabs" data-tab>
            <dd class="active"><a href="#panel2-1">{{i18n 'M_gotovaroba'}}</a></dd>
            <dd><a href="#panel2-2">{{i18n 'LBL_repromaterijal'}}</a></dd>
            <dd><a href="#panel2-3">{{i18n 'LBL_enosredstva'}}</a></dd>
            <dd><a href="#panel2-4">{{i18n 'LBL_sirovina'}}</a></dd>
        </dl>


    <div class="tabs-content">
        <div class="content active" id="panel2-1">
            <div class="large-12 column">
                <div id="gotovaRobaTable"></div>
            </div>
        </div>
        <div class="content" id="panel2-2">
            <div class="large-12 column">
                <div id="repromaterijalTable"></div>
            </div>
        </div>
        <div class="content" id="panel2-3">
            <div class="large-12 column">
                <div id="enosredstvaTable"></div>
            </div>
        </div>
        <div class="content" id="panel2-4">
            <div class="large-12 column">
                <div id="sirovinaTable"></div>
            </div>
        </div>
    </div>
</div>
