<ul class="breadcrumbs">
    <li class="current">{{i18n 'LBL_skladiste'}}</li>
</ul>
<div class="row">
    <div class="large-2 column large-offset-2"><a href="#/{{i18n 'URL_skladiste'}}/{{i18n 'URL_enosredstva'}}/" class="button success">{{i18n 'M_enosredstva'}}</a></div>
    <div class="large-2 column end"><a href="#/{{i18n 'URL_skladiste'}}/{{i18n 'URL_katalog'}}/" class="button success">{{i18n 'M_katalog'}}</a></div>
</div>
<div class="row">
    <div class="large-2 column large-offset-2"><a href="#/{{i18n 'URL_skladiste'}}/{{i18n 'URL_izdavanje'}}/" class="button success">{{i18n 'M_izdavanje'}}</a></div>
    <div class="large-4 column end"><a href="#/{{i18n 'URL_skladiste'}}/{{i18n 'URL_repromaterijal'}}/" class="button success">{{i18n 'M_repromaterijal'}}</a></div>
</div>
<div class="row">
    <div class="large-4 column large-offset-2 "><a href="#/{{i18n 'URL_skladiste'}}/{{i18n 'URL_gotova_roba'}}/" class="button success">{{i18n 'M_gotovaroba'}}</a></div>
    <div class="large-2 column end"><a href="#/{{i18n 'URL_skladiste'}}/{{i18n 'URL_pocetno_stanje'}}/" class="button success">{{i18n 'M_start'}}</a></div>
</div>