<div data-id="{{id}}" class="posuda-control left ">
    <div class="left">
        <ul class="no-bullet">
            <span class="" >{{oznaka}}</li>
                <li class="" >{{sorta.naziv}}</li>
                <li class="capacity" >{{vrsta}}</li>
                <li class="value" >{{stanje}} L</li>
                <li class="capacity" >{{volumen}} L</li>
        </ul>
    </div>
    <div class="right tank">
        <div class=" empty">
            <div class=" full">    
        </div>
        </div>
        
    </div>
</div>